/* Colors to use .. Background -- Brownish
/* Comments -- Blue, Fonts: White;, Upvote: Green; */

html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(56, 65, 87);
}
body {
	margin-top: 100px;
	color: ;
}
.header {
	font-size: 40px;
	color: rgb(65, 105, 225);
}

.container h1 {
	color: rgb(65, 105, 225);

}
.title, .upvotes {
	color: #fff;
}
form, h3 {
	color: rgb(65, 105, 225);
}
.glyphicon {
	color: rgb(0,255,0);
}
div .post {
	color: rgb(49,41,71);
}
.comment, .link {
	color:  #E3A748; 
	text-decoration: none;
}
.suggestion {
	padding-left: 60px;
}
/* #E3A748 /*rgb(35,119,193);